*{
    margin: 0;
    padding: 0;
}

#container{
    width: 800px;
    margin: 0 auto;
}
    #header{
        background-color: #DCDCDC;
        height: 100px;
        width: 800px;
        text-align: center;
        /*box-shadow: 2px 2px yellow;*/
    }
            #top_nav li{
                width: 100px;
                height: 40px;
                border-radius: 0 0 5px 5px;
                display: inline-block;
                border: 2px solid #F0FFF0;
                margin-top: -2px;
                text-align: center;
                font-size: 15pt;
                margin-left: -5px;
            }
            #top_nav li a{
                text-decoration: none;
                vertical-align: middle;
            }

        #intro{
            margin-top: 20px;
            text-align: center;
        }
            #intro #my_intro{
                text-align: left;
                font-size: 16pt;
            }
            #intro img{
                width: 300px;
                height: 300px;
                border-radius: 50%;
                display: block;
                margin-bottom: 20px;
            }
            #intro a {
                font-weight: bold;
                font-size: 16pt;
                display: block;
            }
